bin/Debug
bin/Release
obj/Debug
obj/Release
obj/ceusdsl.csproj.nuget.g.props
obj/ceusdsl.csproj.nuget.g.targets
obj/project.assets.json
project.lock.json
dsl/bewerber.ceusdl
GeneratedCode
GeneratedSQL
GeneratedData